{{!< default}} {{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template
    --}} <div class="site-header-content outer{{#match @custom.header_style " Left aligned"}}
    left-aligned{{/match}}{{#unless @custom.show_publication_cover}}{{#match @custom.header_style "Hidden" }}
    no-content{{/match}}{{/unless}}">

    {{#if @custom.show_publication_cover}}
    {{#if @site.cover_image}}
    {{!-- This is a responsive image, it loads different sizes depending on device
    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
    <img class="site-header-cover" srcset="{{img_url @site.cover_image size=" s"}} 300w, {{img_url @site.cover_image
        size="m" }} 600w, {{img_url @site.cover_image size="l" }} 1000w, {{img_url @site.cover_image size="xl" }} 2000w"
        sizes="100vw" src="{{img_url @site.cover_image size=" xl"}}" alt="{{@site.title}}" />
    {{/if}}
    {{/if}}

    {{#match @custom.header_style "!=" "Hidden"}}
    <div class="site-header-inner inner">
        {{#match @custom.navigation_layout "Logo on cover"}}
        {{#if @site.logo}}
        <img class="site-logo" src="{{@site.logo}}" alt="{{@site.title}}">
        {{else}}
        <h1 class="site-title">{{@site.title}}</h1>
        {{/if}}
        {{/match}}
        {{#if @site.description}}
        <p class="site-description">{{@site.description}}</p>
        {{/if}}
    </div>
    {{/match}}

    </div>

    {{!-- The main content area --}}
    <main id="site-main" class="site-main outer">
        <div class="inner posts">
            <section class="gh-content gh-canvas">
                <br />
                <br />
                <p>Wir sind spezialisiert auf die Einführung von KI-Lösungen für Unternehmen, um ihren Geschäftsprozess
                    optimal zu unterstützen.
                    <br><br>Wir unterstützen unsere Kunden durch <strong>Wissenstransfer</strong>,
                    <strong>Beratung</strong> und <strong>Entwicklung</strong>.
                    <a href="https://efec.de/ki4b2b/">Mehr erfahren</a>
                </p>


                <h1 style="text-align: center;">Leistungsspektrum</h1>
                <ul>
                    <li><strong><a href="https://efec.de/workshops/">Workshops</a></strong>: Wir helfen unseren Kunden,
                        das notwendige strategische und operative
                        Know-how aufzubauen.</li>
                    <li><strong><a href="https://efec.de/consulting/">Beratung & Entwicklung</a></strong>: Die
                        Anforderungen aus der Praxis sind nicht immer einfach zu
                        beantworten. Wir unterstützen unsere Kunden dabei, die richtigen Antworten auf ihre
                        Herausforderungen zu finden.Im Bereich Software-Entwicklung helfen wir unseren Kunden, Lösungen
                        zu implementieren
                        und die richtige Umgebung auszuwählen. Insbesondere auch im Hinblick auf
                        Datenschutzanforderungen.</li>
                    <li><strong><a href="https://efec.de/aicontext-member-bereich/">AI Context Member
                                Bereich</a></strong>: Wir
                        investieren jeden Tag viel Zeit darin, die aktuellen News, Trends und Software rund um die KI zu
                        sichten, zu lesen und zu verstehen. Unsere Erkenntnisse, Artikel und Fundstücke fassen wir unter
                        dem Begriff <strong>AI-Context</strong> zusammen und bieten gerne Zugang zu unserem
                        Wissen.<br />
                        <strong>Der primäre Focus von AI-Context liegt auf KI für B2B.</strong>

                        <a href="https://efec.de/#/portal/signup"><span>Abonnieren</span></a>
        </div>
        </li>
        </ul>
        </section>
        <br />
        <br />
        <br />
        <h1 style="text-align: center;">Inhalte aus unserem AI Context Bereich</h1>
        <br />
        <div class="post-feed">

            {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
            {{/foreach}}
        </div>

        {{pagination}}

        </div>
    </main>